#aboutMobile {
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    @media (min-width: 768px){
        padding: 0 4rem;
    }
    text-align: left;
    font-family: 'Poppins', sans-serif;

    .intro {
        margin-top: -1rem;

        .aboutText {
            font-size: 1.75rem;
            margin-bottom: -.5rem;
            font-weight: bold;
            text-align: center;
        }

        .subText, .subText2, .subText3 {
            font-size: 1.15rem;
            .skills {
                font-size: 1.75rem;
                font-weight: bold;
                margin: 2.5rem 0 .5rem 0;
                display: flex;
                align-items: center;
                align-self: flex-start;
            }

            a {
                color: #fff;
            }
        }

        ul {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        li {
            background: #000;
            color: rgb(180, 180, 180);
            width: 80%;
            @media (min-width: 768px) {
                width: 50%;
            }
            margin-top: .5rem;
            display: flex;
            list-style-type: disc;
            align-items: center;
            justify-content: space-between;
        }
    }

    hr {
        border: 1px dashed #fff;
        margin: 1rem  0 0 0;
    }

    .body {
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-size: 1.15rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            background: #2f52e0;
            height: 3rem;
            width: 8rem;

            span {
                margin-right: .5rem;
            }
        }

        .misc {
            font-size: 1.75rem;
            font-weight: bold;
            margin-bottom: -.5rem;
            display: flex;
            align-self: flex-start;
        }
    }
}

//desktop x ipad pro styling
#aboutDesktop {
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5rem;

    .intro {
        max-width: 600px;
        margin-top: 2rem;

        .aboutText {
            font-size: 1.75rem;
            margin-bottom: -.5rem;
            font-weight: bold;
            text-align: center;
        }

        .subText, .subText2, .subText3 {
            font-size: 1.15rem; 
            .skills {
                font-size: 1.75rem;
                font-weight: bold;
                margin: 2.5rem 0 .5rem 0;
                display: flex;
                align-self: flex-start;
            }

            a {
                color: #fff;
            }

            .skillsList {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                li {
                    width: 80%;
                    background: #000;
                    margin-top: .5rem;
                    margin-right: 3rem;
                    display: flex;
                    list-style-type: disc;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            #otherSkills {
                display: flex;
                justify-content: center;
                width: 65%;
                li {
                    width: 80%;
                    margin-top: .5rem;
                    margin-right: 3rem;
                    display: flex;
                    list-style-type: disc;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }

        
    }

    hr {
        border: 1px dashed #fff;
        margin: 1rem  0 0 0;
    }

    .body {
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-size: 1.15rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            background: #2f52e0;
            height: 3rem;
            width: 8rem;
            transition: all 0.2s ease;

            span {
                margin-right: .5rem;
            }
        }
        a:hover {
            transform: translateY(-10%);
        }

        .misc {
            font-size: 1.75rem;
            font-weight: bold;
            margin-bottom: -.5rem;
            display: flex;
            align-self: flex-start;
        }
    }
}