.mainHome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .home {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 800px;

        img {
            margin-left: -4rem;
            @media (max-width: 1024px) {
                margin-left: -2rem;
            }
        }

        .intro {
            display: flex;
            flex-direction: column;
            
            .mainText {         
                width: 30rem;   
                font-size: 2rem;
                @media (max-width: 1024px) {
                    font-size: 1.75rem;
                    width: 25rem;
                }

                span {
                    font-size: 2.75rem;
                    font-weight: bold;
                    @media (max-width: 1024px) {
                        font-size: 2.25rem;
                        width: 25rem;
                    }
                }
            }

            .subText {
                margin-top: -.75rem;
                font-size: 1.25rem;
                color: rgb(182, 182, 182);
                line-height: 1.5;
            }

            .buttons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 60%;
                @media (max-width: 1024px) {
                    width: 70%;
                }
                height: 4rem;

                .browse {
                    height: 3rem;
                    width: 8rem;
                    text-decoration: none;
                    color: #fff;
                    background: #2F52E0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    font-size: 1.25rem;
                    font-weight: bold;
                    transition: all 0.2s ease-in-out;
                }
                .browse:hover {
                    transform: translateY(-10%);
                }

                .socialIcons {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    text-decoration: none;
                    width: 9rem;
                    height: 4rem;
                    color: #fff;
                    font-size: 1.5rem;
                    margin-top: -.5rem;
                    a {
                        color: #fff;
                        margin-top: .5rem;
                        transition: all 0.2s ease;
                    }
                    a:hover {
                        cursor: pointer;
                        color:#2f52e0;
                        transform: translateY(-15%);

                    }
                }
            }
        }
    }
}