.workDesktop {
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-family: 'Poppins', sans-serif;

    .work {
        max-width: 600px;
        margin-top: 4rem;

        .intro {
            margin-top: 1rem;
            .workText {
                font-size: 1.75rem;
                font-weight: bold;
                text-align: center;
            }
            .listText {
                font-size: 1.15rem;
                margin-top: -1rem;
                color:#fff;

                a {
                    color: rgb(228, 228, 228);
                    transition: all 0.2s ease;
                }
                a:hover {
                    color: #fff;
                    font-weight: bold;
                }
            }
        }

        .body {
            width: 100%;
            display: flex;
            flex-direction: column;

            .selectedProjects {
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
            }

            .projects {
                display: flex;
                align-items: center;
                justify-content: center;

                .project {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-around;
                    flex-direction: column;
                    height: 10rem;
                    width: 20rem;
                    margin: 1rem;
                    padding: 1rem;
                    background: rgba(#fff, 0.1);
                    border-radius: 4px;
                    border: 1px solid #000;
                    transition: all 0.3s ease-in-out;

                    a {
                        font-size: 1.15rem;
                        font-weight: bold;
                        text-decoration: none;
                        color: #fff;
                    }

                    .projectInfo {
                        font-size: .95rem;
                        font-weight: normal;
                        color: #fff;
                        margin-top: -.25rem;
                    }

                    .projectTool {
                        font-size: 0.75rem;
                        color: rgb(194, 194, 194);
                        margin-top: -0.1rem;
                    }

                    .projectIcons {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 20%;
                        font-size: 1.5rem;
                        color: #fff;

                        a {
                            font-size: 1.5rem;
                            transition: all 0.2s ease;
                        }
                        a:hover {
                            transform: translateY(-10%);
                        }
                    }

                }
                .project:hover {
                    border: 1px solid #2f52e0;
                    background: #000;
                }
            }

            .otherProject {
                font-size: 1.15rem;
                text-align: center;
                a {
                    color: rgb(201, 201, 201);
                    transition: all 0.2s ease;
                }
                a:hover {
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
}